.button {
  background: transparent;
  border-radius: 3px;
  border: 2px solid palevioletred;
  margin: 0 1em;
  padding: .25em 1em;
  font-size: 20px;
  color: #fff;
}

.loading {
  border: 2px solid gray;
  color: gray;
}